    * {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }
    
    body {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        background-color: white;
        ;
    }
    
    .table {
        background-color: lightsteelblue;
        border: 1px;
        color: black;
    }
    
    #container-cadastro {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #0009;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
    }
    
    #container-cadastro form {
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;
        gap: 5px;
        background-color: rgb(66, 65, 77);
        box-shadow: 0px 0px 20px #000;
    }
    
    #deletarFuncionario {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #0009;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
    }
    
    #deletarFuncionario form {
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;
        gap: 5px;
        background-color: rgb(66, 65, 77);
        box-shadow: 0px 0px 20px #000;
    }
    
    .container-form {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #form-funcionario {
        color: white;
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;
        gap: 5px;
        background-color: rgb(66, 65, 77);
        box-shadow: 0px 0px 20px #000;
    }
    
    h1 {
        color: white;
    }
    
    p {
        color: white;
    }